<div style="height: 100vh;">

  <mat-toolbar color="primary">
    <button type="button" mat-icon-button (click)="sidenav.toggle()" title="Open Sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    Notes
  </mat-toolbar>

  <mat-sidenav-container fxFlex>

    <mat-sidenav #sidenav fxLayout="column" mode="push">
      <mat-list>
        <!-- First list item is hidden to prevent the first item from auto-focusing -->
        <mat-list-item [routerLink]="['/']" (click)="sidenav.close()" style="height: 0; position: absolute;"></mat-list-item>
        <mat-list-item [routerLink]="['/notes']" (click)="sidenav.close()"> Notes</mat-list-item>
        <mat-list-item [routerLink]="['/about']" (click)="sidenav.close()"> About</mat-list-item>
      </mat-list>
    </mat-sidenav>

    <div class="page-wrap">
      <main class="content">
        <router-outlet></router-outlet>
      </main>
      <footer>Footer</footer>
    </div>

  </mat-sidenav-container>

</div>